
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {        
  font-weight: 300;
  text-transform: uppercase;   
}
.navbar {
    background-color: #4982A8;
}

.jumbotron{
    margin-bottom: 0px;
}

.navbar-nav > li{
    padding-left:50px;
    padding-right:50px;
}

.row-content{
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; 
}

.center {
  margin-left:22%;    
}
.adjust {
  display: inline-block;
}

#video1
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}


.fileinput-remove,
.fileinput-upload{
	display: none;
}

#uploadForm{
  min-width: 1120px;
}

#imagenes_container{
  min-height: 520px;
}

